.ui-header {
  height: 120px; }

.logo {
  position: absolute;
  max-width: 20%; }
  .logo img {
    max-width: 200%;
    width: 200px; }

.topheader {
  height: 40px;
  background: #ff5c5c;
  /* Old browsers */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmNWM1YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZmY1YzVjIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmZjVjNWMiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMCUiIHN0b3AtY29sb3I9IiNmZjU3NTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI5OCUiIHN0b3AtY29sb3I9IiNmZWJiYmIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(left, #ff5c5c 0%, #ff5c5c 0%, #ff5c5c 0%, #ff5755 10%, #febbbb 98%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #ff5c5c), color-stop(0%, #ff5c5c), color-stop(0%, #ff5c5c), color-stop(10%, #ff5755), color-stop(98%, #febbbb));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #ff5c5c 0%, #ff5c5c 0%, #ff5c5c 0%, #ff5755 10%, #febbbb 98%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #ff5c5c 0%, #ff5c5c 0%, #ff5c5c 0%, #ff5755 10%, #febbbb 98%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #ff5c5c 0%, #ff5c5c 0%, #ff5c5c 0%, #ff5755 10%, #febbbb 98%);
  /* IE10+ */
  background: linear-gradient(to right, #ff5c5c 0%, #ff5c5c 0%, #ff5c5c 0%, #ff5755 10%, #febbbb 98%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5c5c', endColorstr='#febbbb',GradientType=1 );
  /* IE6-8 */ }
  .topheader .logo {
    padding: 6px 0 0 6px; }

.header {
  position: absolute;
  display: inline-block;
  background-color: #7b7b7b;
  padding-left: 0;
  padding-top: 2px;
  height: 40px;
  width: 100%; }

.weather {
  position: absolute;
  /*width: 250px;*/
  max-width: 250px;
  height: 60px;
  top: 0;
  right: 0;
  background-color: #FFABAA;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-left-radius: 10px;
  overflow: hidden;
  z-index: 1000; }
  .weather .weather-item {
    display: inline-block;
    width: 60px;
    margin: 7px 0 0 18px; }
    .weather .weather-item #date1 {
      margin-left: 3px; }
    .weather .weather-item .tempature-text {
      padding-top: 7px;
      text-align: center; }
    .weather .weather-item .weather-icon {
      width: 32px;
      height: 32px;
      background: gray;
      -moz-border-radius: 50px;
      -webkit-border-radius: 50px;
      border-radius: 50%;
      background-image: url("../Content/images/weatherIcon.png"); }
    .weather .weather-item .temperature-icon {
      background: yellow;
      -moz-border-radius: 50px;
      -webkit-border-radius: 50px;
      border-radius: 50%;
      color: red;
      font-weight: bolder;
      font-size: 14px; }
    .weather .weather-item .icon_0, .weather .weather-item .icon_3, .weather .weather-item .icon_4, .weather .weather-item .icon_17, .weather .weather-item .icon_35 {
      background-position: 0 -656px;
      width: 32px;
      height: 32px; }
    .weather .weather-item .icon_1, .weather .weather-item .icon_2 {
      background-position: 0 0;
      width: 32px;
      height: 32px; }
    .weather .weather-item .icon_5 {
      background-position: -82px -656px;
      width: 32px;
      height: 32px; }
    .weather .weather-item .icon_6 {
      background-position: -82px -738px;
      width: 32px;
      height: 32px; }
    .weather .weather-item .icon_7 {
      background-position: -82px -820px;
      width: 32px;
      height: 32px; }
    .weather .weather-item .icon_8 {
      background-position: -82px -902px;
      width: 32px;
      height: 32px; }
    .weather .weather-item .icon_9, .weather .weather-item .icon_11 {
      background-position: 0 -164px;
      width: 32px;
      height: 32px; }
    .weather .weather-item .icon_10 {
      background-position: 0 -82px;
      width: 32px;
      height: 32px; }
    .weather .weather-item .icon_12, .weather .weather-item .icon_40 {
      background-position: 0 -246px;
      width: 32px;
      height: 32px; }
    .weather .weather-item .icon_13 {
      background-position: 0 -328px;
      width: 32px;
      height: 32px; }
    .weather .weather-item .icon_14 {
      background-position: 0 -410px;
      width: 32px;
      height: 32px; }
    .weather .weather-item .icon_15, .weather .weather-item .icon_43 {
      background-position: 0 -492px;
      width: 32px;
      height: 32px; }
    .weather .weather-item .icon_16 {
      background-position: 0 -574px;
      width: 32px;
      height: 32px; }
    .weather .weather-item .icon_18 {
      background-position: 0 -738px;
      width: 32px;
      height: 32px; }
    .weather .weather-item .icon_19, .weather .weather-item .icon_22 {
      background-position: 0 -820px;
      width: 32px;
      height: 32px; }
    .weather .weather-item .icon_20 {
      background-position: 0 -902px;
      width: 32px;
      height: 32px; }
    .weather .weather-item .icon_21 {
      background-position: 0 -984px;
      width: 32px;
      height: 32px; }
    .weather .weather-item .icon_23, .weather .weather-item .icon_24 {
      background-position: 0 -1066px;
      width: 32px;
      height: 32px; }
    .weather .weather-item .icon_25, .weather .weather-item .icon_44, .weather .weather-item .icon_3200 {
      background-position: 0 -1148px;
      width: 32px;
      height: 32px; }
    .weather .weather-item .icon_26 {
      background-position: 0 -1230px;
      width: 32px;
      height: 32px; }
    .weather .weather-item .icon_27 {
      background-position: 0 -1312px;
      width: 32px;
      height: 32px; }
    .weather .weather-item .icon_28 {
      background-position: 0 -1394px;
      width: 32px;
      height: 32px; }
    .weather .weather-item .icon_29 {
      background-position: 0 -1476px;
      width: 32px;
      height: 32px; }
    .weather .weather-item .icon_30 {
      background-position: 0 -1558px;
      width: 32px;
      height: 32px; }
    .weather .weather-item .icon_31 {
      background-position: 0 -1640px;
      width: 32px;
      height: 32px; }
    .weather .weather-item .icon_32 {
      background-position: 0 -1722px;
      width: 32px;
      height: 32px; }
    .weather .weather-item .icon_33 {
      background-position: 0 -1804px;
      width: 32px;
      height: 32px; }
    .weather .weather-item .icon_34 {
      background-position: 0 -1886px;
      width: 32px;
      height: 32px; }
    .weather .weather-item .icon_36 {
      background-position: -82px 0;
      width: 32px;
      height: 32px; }
    .weather .weather-item .icon_37, .weather .weather-item .icon_38 {
      background-position: -82px -82px;
      width: 32px;
      height: 32px; }
    .weather .weather-item .icon_39 {
      background-position: -82px -164px;
      width: 32px;
      height: 32px; }
    .weather .weather-item .icon_41 {
      background-position: -82px -246px;
      width: 32px;
      height: 32px; }
    .weather .weather-item .icon_42 {
      background-position: -82px -328px;
      width: 32px;
      height: 32px; }
    .weather .weather-item .icon_45 {
      background-position: -82px -410px;
      width: 32px;
      height: 32px; }
    .weather .weather-item .icon_46 {
      background-position: -82px -492px;
      width: 32px;
      height: 32px; }
    .weather .weather-item .icon_47 {
      background-position: -82px -574px;
      width: 32px;
      height: 32px; }

.top-tab {
  position: absolute;
  display: inline-block;
  top: 82px;
  height: 40px;
  width: 100%;
  background-color: aqua; }
  .top-tab ul {
    list-style: none;
    margin-top: 0; }
    .top-tab ul li {
      float: left;
      background-color: ActiveCaption;
      width: 80px;
      margin-right: 2px;
      height: 40px;
      text-align: center; }

/*# sourceMappingURL=index.css.map */